/*START RWD STYLE*/


/* media 480 640 768 1200 */

@media (max-width: 1200px) {
    .col2 {
        width: 100%;
    }
    #about figure img {
        max-width: 60%;
    }
    .portfolio-item {
        width: 50%;
    }
    .portfolio-item:last-child {
        width: 100%;
    }
}

@media (max-width: 768px) {
    #menu .toggle{display: block;
    background-color: #fff;
    padding: 0 20px;
    color: #1ac056;
    font-size: 20px;
    line-height: 60px;
    text-decoration: none;
    border:none;
    text-align: right;
    }
    
    #about figure img {
        max-width: 70%;
    }
    .portfolio-item {
        width: 100%;
    }
}

@media (max-width: 640px) {
    #about figure img {
        max-width: 90%;
    }
}

@media (max-width: 480px) {
    #about figure img {
        max-width: 100%;
    }
}