/*START RWD STYLE*/


/* media 480 640 768 1200 */

@media (max-width: 1200px) {
    .col2 {
        width: 100%;
    }
    #about figure img {
        max-width: 60%;
    }
    .portfolio-item {
        width: 50%;
    }
    #portfolio-item-3 {
        width: 100%;
    }
}
/*test*/

@media (max-width: 768px) {

header {

		position: absolute;

	}

	#menu-icon {

		display:inline-block;

	}

	nav ul, nav:active ul { 

		display: none;
		position: absolute;
		padding: 20px;
		background: #fff;
		border: 5px solid #444;
		right: 20px;
		top: 60px;
		width: 50%;
		border-radius: 4px 0 4px 4px;

	}

	nav li {

		text-align: center;
		width: 100%;
		padding: 10px 0;
		margin: 0;

	}

	nav:hover ul {

		display: block;

	}

}











/* end test*/
@media (max-width: 768px) {
    
  
    
    #about figure img {
        max-width: 70%;
    }
    .portfolio-item {
        width: 100%;
    }
}

@media (max-width: 640px) {
    #about figure img {
        max-width: 90%;
    }
}

@media (max-width: 480px) {
    #about figure img {
        max-width: 100%;
    }
}