/*general*/

* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    color: #291f1a;
    margin: 0;
    background-color: antiquewhite;
    /* background roboczy */
}

a {
    transition: all .3s;
}

h1 {
    font-size: 6em;
}

h2 {
    font-size: 2em;
}

figure {
    margin: 0;
}

section, footer {
    padding: 30px 80px;
}

.green {
    color: #1ac056;
    font-weight: 300;
}

.col2 {
    width: 50%;
    float: left;
    padding: 20px;
}

.col3 {
    width: 33%;
    float: left;
}


/*nav style*/

#menu {
    background-color: #fff;
    opacity: 0.5;
    width: 100%;
    position: fixed;
    z-index: 10;
    bacgrou
}

#menu .menu-item {
    display: inline-block;
    padding: 25px;
    /*  list-style: none;*/
    /*przy inline-block nie trzeba tego*/
}

#menu ul {
    margin: 0;
    text-align: right;
}

#menu .menu-item a {
    text-decoration: none;
    color: #1ac056;
    font-weight: 300;
    text-transform: lowercase;
}

#menu .menu-item a:hover {
    color: #291f1a;
}


/*header style*/

#header-main {
    position: relative;
    width: 100%;
    height: 90vh;
    background: url(../img/header-background.jpg) center no-repeat;
    background-size: cover;
    text-align: center;
}


/*ustawianie środek h i v */

#header-caption {
    position: absolute;
    top: 50%;
    margin: 0 auto;
    left: 0;
    right: 0;
    transform: translateY(-50%);
}

.header-h {
    margin: 0;
    font-family: 'Roboto';
    color: #fff;
    font-weight: 100;
}

.section-h {
    margin: 0;
    font-weight: 100;
}


/*sekcja about*/

#about {
    width: 100%;
    text-align: center;
    overflow: hidden;
    /*floating elementów zawija głównny kontener do elementów bez float w tym wypadku do h i wypadają inne i się krzaczy, to rozciąga kontener */
    background-color: #F9FCFE;
    box-shadow: 0 0 50px 0 #ECECEC;
}

#about figure img {
    max-width: 80%;
    border: 10px #fff solid;
    border-radius: 10px;
    margin: 0 auto;
}

#about div p {
    font-weight: 300;
    line-height: 24px;
}

/*umiejęteności */

#skills {
    width: 100%;
    text-align: center;
    overflow: hidden;
    /*floating elementów zawija głównny kontener do elementów bez float w tym wypadku do h i wypadają inne i się krzaczy, to rozciąga kontener */
    background-color: #fff;
}

.skills-icon {
    display: inline-block;
    padding: 20px;
}

.skills-icon figcaption {
    padding-top: 20px;
}
/* portfolio*/ 
#portfolio {
    width: 100%;
    text-align: center;
    overflow: hidden;
    /*floating elementów zawija głównny kontener do elementów bez float w tym wypadku do h i wypadają inne i się krzaczy, to rozciąga kontener */
    background-color: #fff;
}

#portfolio h2{
    padding-bottom: 50px;
}

#portfolio figure img{
    max-width: 100%;
}

/* footer contact*/
#contact {
    width: 100%;
    text-align: left;
    overflow: hidden;
    /*floating elementów zawija głównny kontener do elementów bez float w tym wypadku do h i wypadają inne i się krzaczy, to rozciąga kontener */
    background-color: #213B50;
    color: #fff;
}
/* styl formularz */

#contact-form {
    width: 100%;
    background-color: #213b50;
    color: #fff;
    padding: 20px;
}


input{
    display: block;
    margin: 10px 0 0 0;
}



input[type="text"],
input[type="tel"],
input[type="email"],
textarea {
    background-color: #2b4a64;
    color: #fff;
    border: 1px solid #2b4a64;
    margin-bottom: 5px;
    width: 300px;
    padding: 10px 0; /* zamiast wysokości lepiej padding height: 30px; */

}

input:focus{
    background-color: #4e708c;
    border:1px solid #fff;
    outline:none;
}


button[type="submit"] {
    background-color: #1ac056;
    color: #fff;
    border: none; /*lub border: 1px color tła*/
    text-transform: uppercase;
    font-weight: 700;
    margin: 20px 0 ;
    padding: 20px;
        
}
