/*general*/

* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    color: #291f1a;
    margin: 0;
    background-color: antiquewhite;
    /* background roboczy */
}

a {
    transition: all .3s;
}

h1 {
    font-size: 6em;
}

h2 {
    font-size: 2em;
}

figure {
    margin: 0;
}

section {
    padding: 30px 80px;
}

.green {
    color: #1ac056;
    font-weight: 400;
}

.col2 {
    width: 50%;
    float: left;
    padding: 20px;
}

.nopadding {
    padding: 0;
}


/*nav style*/

#menu {
    background-color: #fff;
    opacity: 0.5;
    width: 100%;
    position: fixed;
    z-index: 10;
}

#menu .menu-item {
    display: inline-block;
    padding: 25px;
    /*  list-style: none;*/
    /*przy inline-block nie trzeba tego*/
}

#menu ul {
    margin: 0;
    text-align: right;
}

#menu .menu-item a {
    text-decoration: none;
    color: #1ac056;
    font-weight: 300;
    text-transform: lowercase;
}

#menu .menu-item a:hover {
    color: #291f1a;
}


/*header style*/

#header-main {
    position: relative;
    width: 100%;
    height: 90vh;
    background: url(../img/header-background.jpg) center no-repeat;
    background-size: cover;
    text-align: center;
}


/*ustawianie środek h i v */

#header-caption {
    position: absolute;
    top: 50%;
    margin: 0 auto;
    left: 0;
    right: 0;
    transform: translateY(-50%);
}

.header-h {
    margin: 0;
    font-family: 'Roboto';
    color: #fff;
    font-weight: 200;
}

.section-h {
    margin: 0;
    font-weight: 200;
}


/*sekcja about*/

#about {
    width: 100%;
    text-align: center;
    overflow: hidden;
    /*floating elementów zawija głównny kontener do elementów bez float w tym wypadku do h i wypadają inne i się krzaczy, to rozciąga kontener */
    background-color: #F9FCFE;
    box-shadow: 0 0 50px 0 #ECECEC;
}

#about figure img {
    max-width: 80%;
    border: 10px #fff solid;
    border-radius: 10px;
    margin: 0 auto;
}

#about div p {
    font-weight: 300;
    line-height: 24px;
}


/*umiejęteności */

#skills {
    width: 100%;
    text-align: center;
    overflow: hidden;
    /*floating elementów zawija głównny kontener do elementów bez float w tym wypadku do h i wypadają inne i się krzaczy, to rozciąga kontener */
    background-color: #fff;
}

.skills-icon {
    display: inline-block;
    padding: 20px;
}

.skills-icon figcaption {
    padding-top: 20px;
}


/* portfolio*/

#portfolio {
    width: 100%;
    text-align: center;
    overflow: hidden;
    /*floating elementów zawija głównny kontener do elementów bez float w tym wypadku do h i wypadają inne i się krzaczy, to rozciąga kontener */
    background-color: #fff;
}

#portfolio h2 {
    padding-bottom: 50px;
}

#portfolio-items {
    font-size: 0;
}

.portfolio-item {
    height: 350px;
    width: 33.33%;
    display: inline-block;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    position: relative;
}

.item-mask {
    background-color: rgba(42, 61, 79, 0.8);
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    position: absolute;
    font-size: initial;
}
    /* dajemy pozycję relative w nadrzędnym i absolute w zagnieżdzonym aby się nakładały idealnie bez przesunięcia */

.item-mask:hover {
    opacity: 1;
}

.item-content {
    height: 330px;
    border: 1px solid #fff;
    margin: 10px;
    position: relative;
}
.item-content-inner{
    color: #fff;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    left: 0;
    padding: 5px;
}

.project-link {
    color: #fff;
}

.project-link:hover {
    color: #1ac056;
}



#portfolio-item-1 {
    background-image: url(../img/portfolio1.jpg);
}

#portfolio-item-2 {
    background-image: url(../img/portfolio2.jpg);
}

#portfolio-item-3 {
    background-image: url(../img/portfolio4.jpg);
}


/* footer contact*/

#contact {
    width: 100%;
    text-align: left;
    overflow: hidden;
    /*floating elementów zawija głównny kontener do elementów bez float w tym wypadku do h i wypadają inne i się krzaczy, to rozciąga kontener */
    background-color: #213B50;
    color: #fff;
}

.contact-h {
    margin: 0;
    font-weight: 200;
}


/*contact text address*/

.contact-text {
    font-style: normal;
}

.contact-text a {
    font-style: normal;
    color: #1ac056;
}

.contact-social {
    margin-top: 60px;
}

.social-icon {
    display: inline-block;
    border: 1px solid #fff;
    margin: 0 30px 0 0;
    color: #fff;
    width: 50px;
    height: 50px;
    text-align: center;
    padding: 1em;
    
}
.social-icon:hover {
    color: #1ac056;
    background-color: #fff;
    
}


/* styl formularz */

#contact-form {
    background-color: #213b50;
    color: #fff;
}

input,
textarea,
button {
    display: block;
    margin: 10px 0 0 0;
}

input[type="text"],
input[type="tel"],
input[type="email"],
textarea {
    background-color: #2b4a64;
    color: #fff;
    border: 1px solid #2b4a64;
    margin-bottom: 5px;
    width: 100%;
    padding: 10px 0;
    /* zamiast wysokości lepiej padding height: 30px; */
}

input::placeholder,
textarea::placeholder {
    color: #A9A9A9;
    padding: 5px;
}

input:focus,
textarea:focus {
    background-color: #4e708c;
    border: 1px solid #fff;
    outline: none;
}

button[type="submit"] {
    background-color: #1ac056;
    color: #fff;
    border: solid 1px #fff;
    text-transform: uppercase;
    font-weight: 700;
    float: right;
    margin: 20px 0;
    padding: 10px 20px;
}

.copyright {
    background-color: #142634;
    color:#fff;
    padding: 5px 80px;
    margin: 0;
}

/*koniec style form*/
/*end main style */